<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div layout:fragment="content" >
    <div class="container-fluid">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-8 col-lg-8 col-xl-8">
                <div class="text-center">
                    <th:block th:if="${initial == false}" >
                        <div class="text-left" >
                            <a th:href="@{/}" >
                                <button class="btn btn-outline-primary" th:text="#{gen.back}" />
                            </a>
                        </div>
                    </th:block>
                    <th:block th:if="${initial == true}" >
                        <a th data-target="modal-addCharacter" data-toggle="modal"
                           th:attr="data-target='#modal-addCharacter'">
                            <span class="btn btn-outline-primary" th:text="#{character.add}"></span>
                        </a>
                    </th:block>
                    <a th:href="@{/swagger-ui.html}" target="_blank" >
                        <button class="btn btn-outline-primary" th:text="#{gen.apiDoc}" />
                    </a>
                </div>

                <br />
                <br />
                <div class="row text-center">
                    <div class="col-md-12 col-lg-12 col-xl-12">

                        <div style="overflow-x: auto;">
                            <table id="characters" class="table table-bordered table-hover table-responsiable-striped">
                                <thead>
                                <tr>
                                    <th th:text="#{character.picture}">firstName</th>
                                    <th th:text="#{character.fullName}">lastName</th>
                                    <th th:text="#{character.age}">age</th>
                                    <th th:text="#{character.numberOfQuotes}">numberOfQuotes</th>
                                    <th th:text="#{gen.actions}">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pojo : ${pojoList}">

                                    <td style="text-align: center" >
                                        <a th:href="@{/listPhrases(id=${pojo.id})}" >
                                            <img th:src="${pojo.picture}" height="20px" width="20px" th:title="#{phrase.list}">
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <a th:href="@{/(lastName=${pojo.lastName})}" th:text="${pojo.firstName + ' ' + pojo.lastName}" ></a>
                                    </td>
                                    <td style="text-align: center" th:text="${pojo.age}" />
                                    <td style="text-align: center">
                                        <span th:text="${pojo.phraseList.size()}"></span>
                                        <a th:href="@{/phrases/listByCharacter(id=${pojo.id})}" >
                                            <span class="fa fa-search" th:title="#{phrase.list}"></span>
                                        </a>

                                    </td>
                                    <td style="text-align: center">
                                        <a href="#" class="fa fa-edit" id="editCharacter" th:title="#{gen.edit}" th:attr="onclick='javascript:retrieveCharacter(\'' + ${pojo.id} + '\');'"/>
                                        <!--                            <a th:href="@{/edit(id=${pojo.id})}" class="fa fa-edit" th:title="#{gen.edit}" />-->
                                        <a th:href="@{/character/delete(id=${pojo.id})}" th:attr="onclick='return confirm(\'' + #{gen.confirm} + '\');'" class="fa fa-remove" th:title="#{gen.remove}" />
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" th:id="modal-addCharacter">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label th:text="#{character.add}"/>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="#" method="post" th:action="@{/createCharacter}">

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:for="firstName" th:text="#{character.firstName}"/>
                                        <input class="form-control" id="firstName" th:field="*{character.firstName}" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:for="lastName" th:text="#{character.lastName}"/>
                                        <input class="form-control" id="lastName" th:field="*{character.lastName}" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:for="picture" th:text="#{character.picture}"/>
                                        <input class="form-control" id="picture" th:field="*{character.picture}" type="url">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:text="#{character.age}"/>
                                        <input class="form-control" th:field="*{character.age}" type="text">
                                    </div>
                                </div>

                                <div class="modal-footer" id="createControls">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button" th:text="#{gen.cancel}">Close</button>
                                    <button class="btn btn-success btn-pill"  th:text="#{gen.submit}"
                                            type="submit">Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" th:id="modal-editCharacter">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label th:text="#{character.edit}"/>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="#" method="post" th:action="@{/createCharacter}">

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:text="#{character.firstName}"/>
                                        <input class="form-control" th:field="*{character.firstName}" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:text="#{character.lastName}"/>
                                        <input class="form-control" th:field="*{character.lastName}" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:text="#{character.picture}"/>
                                        <input class="form-control" th:field="*{character.picture}" type="url">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg">
                                        <label th:text="#{character.age}"/>
                                        <input class="form-control" th:field="*{character.age}" type="text">
                                    </div>
                                </div>

                                <div class="modal-footer" id="editControls">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button" th:text="#{gen.cancel}">Close</button>
                                    <button class="btn btn-success btn-pill" id="submitButton" th:text="#{gen.submit}"
                                            type="submit">Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ('#modal-addCharacter').modal({
            backdrop: 'static',
            keyboard: 'false'
        })

        $('#modal-editCharacter').dialog({
            autoOpen: false,
            closeOnEscape: false
        });



        $('#editCharacter').on(click(function (id) {

            $.ajax({
                url: "/api/characters/"+id,
                type: "GET",
                datatype:"json",
                contentType: 'application/json',
                mimeType: 'application/json',

                success: function(response) {

                }
            })
        }));

        function retrieveCharacter(id) {
            $.getJSON("/api/characters/"+id, function(data) {
                alert(data);
            });

        }

    });

</script>

</body>
</html>