<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {

    });

</script>
<div layout:fragment="content" >
    <div class="container-fluid">
        <div class="row justify-content-md-center justify-content-lg-center justify-content-xl-center">
            <div class="col-md-auto col-lg-auto col-xl-auto">

                <a th:href="@{/}" >
                    <button class="btn btn-outline-primary" th:text="#{gen.back}" />
                </a>

                <table id="characters" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th th:text="#{character.picture}">firstName</th>
                            <th th:text="#{character.fullName}">lastName</th>
                            <th th:text="#{character.age}">age</th>
                            <th th:text="#{character.numberOfQuotes}">numberOfQuotes</th>
<!--                            <th th:text="#">listQuotes</th>-->
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pojo : ${pojoList}">

                        <td style="text-align: center" >
                            <a th:href="@{/listPhrases(id=${pojo.id})}" >
                                <img th:src="${pojo.picture}" height="20px" width="20px">
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a th:href="@{/characters(lastName=${pojo.lastName})}" th:text="${pojo.firstName + ' ' + pojo.lastName}" ></a>
                        </td>
                        <td style="text-align: center" th:text="${pojo.age}" />
                        <td style="text-align: center" th:text="${pojo.phraseSet.size()}" />

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



</body>
</html>